video{
	display: none;
}
#logo{
  position: absolute;
  text-align: left;
  pointer-events: none;
  width: 100px;
  z-index:0;
  left:0;
}
#particle{
	z-index:-1;
	width: 100vh;
	height: 100vh;

	position: absolute;
	text-align: top;
	text-align: left;
	top:0;
	left:0;
}
#gui{
	width: 700px;
	position: absolute;
	left: 0;
	top: 0;
}
#title{
  text-align: center;
  pointer-events: none;
  color: black;
}
.sliders{
  width: 150px;
}
.compteurs{
  width: 100px;
}
